{% from "util/_svgstore.html" import svgstore %}
{% from "util/_placeholder.html" import ph %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <title>{{ title }} - Template</title>
  <link href="/css/style.css" rel="stylesheet">

</head>
<body>
  <div class="skip"><a href="#main-content">skip to main content</a></div>
  {% include "modules/_header.html" %}
  <div id="main-content"></div>
  {% block content %}{% endblock %}
  {% include "modules/_footer.html" %}

  <script src="/js/script.js"></script>
</body>
</html>
